version: '3'

services:
  db:
    image: microsoft/mssql-server-linux:2017-latest
    restart: always
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: senhaDb123
    ports:
      - "1533:1433"
    #command: "/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P senhaDb123 && 'If(db_id(N'trabalho_db3') IS NULL) create database trabalho_db3;'"
#    command: >
#      bash -c "sleep 2m && /opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P senhaDb123
#      -Q \"If(db_id(N'trabalho_db3') IS NULL) create database trabalho_db;\""
    #command: echo "executando command"
    #entrypoint: echo "executando entrypoing"
  web:
    volumes:
      - "./:/var/www/html"
      - "./.docker/apache2:/etc/apache2"
    environment:
      APACHE_DOCUMENT_ROOT: /var/www/html/public
    depends_on:
      - db
    image: litiano/php-apache:php72-apache-laravel
    links:
      - db
    ports:
      - "88:80"
    restart: always